{% extends "base.html" %}
{% load static %}

{% block css %}
  <link rel="stylesheet" href="{% static 'css/home.css' %}">
{% endblock %}
{% block content %}
  <div id="carousel" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="{% static 'images/header.png' %}" class="d-block w-100" alt="">
      </div>
      <div class="carousel-item">
        <img src="{% static 'images/header2.png' %}" class="d-block w-100" alt="">
      </div>
      <div class="carousel-item">
        <img src="{% static 'images/header3.png' %}" class="d-block w-100" alt="">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carousel" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carousel" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
  <main class="home">
    <div class="home-item">
      <div class="home-image-container">
        <img src="{% static 'images/woman2.jpg' %}" alt="" class="home-image">
      </div>
      <p class="home-info">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet itaque minima molestiae natus
        odio porro quaerat reiciendis. Accusamus consectetur consequatur cupiditate ducimus esse eum ex laudantium,
        magni, necessitatibus nostrum nulla, obcaecati placeat rerum soluta sunt? Alias atque eligendi nam ullam? Atque
        culpa distinctio expedita, hic impedit itaque laborum laudantium perspiciatis porro reiciendis, sit unde vitae.
        Accusantium aliquid asperiores aspernatur assumenda blanditiis consequatur dolore dolorem doloremque eligendi
        fuga illo iure iusto necessitatibus, nobis odit officia officiis omnis porro ratione sed totam unde veritatis
        voluptatum? Aperiam debitis doloribus eos facere qui quis reiciendis. Ab aliquid, debitis deleniti dolor
        doloremque ducimus error et libero nulla officia quidem quis rem suscipit temporibus vel velit voluptates.
        Deserunt doloremque excepturi, fuga iure officia perferendis porro possimus qui quia quisquam quod ratione
        repellat vel veritatis vero, voluptas voluptate? Alias architecto aspernatur autem cumque dicta doloremque
        laborum non omnis optio porro, quasi qui quidem quos ratione, sint totam.</p>
    </div>
    <div class="home-item">
      <div class="home-image-container">
        <img src="{% static 'images/lamp.jpg' %}" alt="" class="home-image">
      </div>
      <p class="home-info">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet itaque minima molestiae natus
        odio porro quaerat reiciendis. Accusamus consectetur consequatur cupiditate ducimus esse eum ex laudantium,
        magni, necessitatibus nostrum nulla, obcaecati placeat rerum soluta sunt? Alias atque eligendi nam ullam? Atque
        culpa distinctio expedita, hic impedit itaque laborum laudantium perspiciatis porro reiciendis, sit unde vitae.
        Accusantium aliquid asperiores aspernatur assumenda blanditiis consequatur dolore dolorem doloremque eligendi
        fuga illo iure iusto necessitatibus, nobis odit officia officiis omnis porro ratione sed totam unde veritatis
        voluptatum? Aperiam debitis doloribus eos facere qui quis reiciendis. Ab aliquid, debitis deleniti dolor
        doloremque ducimus error et libero nulla officia quidem quis rem suscipit temporibus vel velit voluptates.
        Deserunt doloremque excepturi, fuga iure officia perferendis porro possimus qui quia quisquam quod ratione
        repellat vel veritatis vero, voluptas voluptate? Alias architecto aspernatur autem cumque dicta doloremque
        laborum non omnis optio porro, quasi qui quidem quos ratione, sint totam.</p>
    </div>
    </div>
    <div class="home-item">
      <div class="home-image-container">
        <img src="{% static 'images/woman1.jpg' %}" alt="" class="home-image">
      </div>
      <p class="home-info">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet itaque minima molestiae natus
        odio porro quaerat reiciendis. Accusamus consectetur consequatur cupiditate ducimus esse eum ex laudantium,
        magni, necessitatibus nostrum nulla, obcaecati placeat rerum soluta sunt? Alias atque eligendi nam ullam? Atque
        culpa distinctio expedita, hic impedit itaque laborum laudantium perspiciatis porro reiciendis, sit unde vitae.
        Accusantium aliquid asperiores aspernatur assumenda blanditiis consequatur dolore dolorem doloremque eligendi
        fuga illo iure iusto necessitatibus, nobis odit officia officiis omnis porro ratione sed totam unde veritatis
        voluptatum? Aperiam debitis doloribus eos facere qui quis reiciendis. Ab aliquid, debitis deleniti dolor
        doloremque ducimus error et libero nulla officia quidem quis rem suscipit temporibus vel velit voluptates.
        Deserunt doloremque excepturi, fuga iure officia perferendis porro possimus qui quia quisquam quod ratione
        repellat vel veritatis vero, voluptas voluptate? Alias architecto aspernatur autem cumque dicta doloremque
        laborum non omnis optio porro, quasi qui quidem quos ratione, sint totam.</p>
    </div>
    <div class="home-item">
      <div class="home-image-container">
        <img src="{% static 'images/view.jpg' %}" alt="" class="home-image">
      </div>
      <p class="home-info">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet itaque minima molestiae natus
        odio porro quaerat reiciendis. Accusamus consectetur consequatur cupiditate ducimus esse eum ex laudantium,
        magni, necessitatibus nostrum nulla, obcaecati placeat rerum soluta sunt? Alias atque eligendi nam ullam? Atque
        culpa distinctio expedita, hic impedit itaque laborum laudantium perspiciatis porro reiciendis, sit unde vitae.
        Accusantium aliquid asperiores aspernatur assumenda blanditiis consequatur dolore dolorem doloremque eligendi
        fuga illo iure iusto necessitatibus, nobis odit officia officiis omnis porro ratione sed totam unde veritatis
        voluptatum? Aperiam debitis doloribus eos facere qui quis reiciendis. Ab aliquid, debitis deleniti dolor
        doloremque ducimus error et libero nulla officia quidem quis rem suscipit temporibus vel velit voluptates.
        Deserunt doloremque excepturi, fuga iure officia perferendis porro possimus qui quia quisquam quod ratione
        repellat vel veritatis vero, voluptas voluptate? Alias architecto aspernatur autem cumque dicta doloremque
        laborum non omnis optio porro, quasi qui quidem quos ratione, sint totam.</p>
    </div>
    </div>
  </main>
  <section class="posts card-group">
    {% for post in object_list %}
      <div class="card post">
        <a href="{% url 'blog:post' post.slug %}">
          <div class="post-image-container">
            <img src="{{ post.hero.url }}" class="card-img-top post-image" alt="...">
          </div>
        </a>
        <div class="card-body">
          <h5 class="card-title"><a href="{% url 'blog:post' post.slug %}">{{ post.title }}</a></h5>
        </div>
      </div>
    {% endfor %}
  </section>
{% endblock %}
