{% extends "base.html" %}
{% load static %}

{% block title %}
  Thank You!
{% endblock %}

{% block css %}
  <link rel="stylesheet" href="{% static 'css/careers/thanks.css' %}">
{% endblock %}

{% block content %}
  <div class="thanks">
    <h1 class="thanks-message">Thank You for applying to Stan Depot! We will reach out to You as soon as we review Your
      <span class="thanks-highlight">resume</span>.</h1>
    <div class="thanks-image-container">
      <img class="thanks-image" src="{% static 'images/thank-you.jpg' %}" alt="People working.">
    </div>
  </div>
{% endblock %}
