.offer-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 1rem auto 0 auto;
}

.offer-description {
  text-align: center;
  margin-bottom: 1rem;
  line-height: 1.47;
  font-size: 1.2rem;
  padding: 0 0.45rem;
}

.offer-contact h2 {
  text-align: center;
  margin-bottom: 1.5rem;
}

.offer-contact > form {
    display: flex;
    flex-direction: column;
  }

.btn {
  border: 3px solid;
  border-image-slice: 1;
  border-image-source: linear-gradient(to left, #743AD5, #D53A9D);
  margin: 0 auto 1.25rem auto;
}


@media (min-width: 760px) {
  .offer-details {
    margin-top: 3rem;
    max-width: 75vw;
    flex-direction: row;
    justify-content: space-around;
    gap: 1.5rem;
  }
  .offer-description {
    flex-basis: 33%;
  }
  .btn {
    align-self: flex-end;
    margin: 0;
  }
}
