{% load static %}
<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{% block title %}Stan Depot{% endblock %}</title>
  <link rel="stylesheet" href="{% static 'css/bootstrap5.css' %}"/>
  <script src="{% static 'js/bootstrap5.js' %}"></script>
  <link rel="stylesheet" href="{% static 'css/base.css' %}">
  <script src="{% static 'js/base.js' %}"></script>

  {% block css %}{% endblock %}
  {% block javascript %}{% endblock %}

</head>
<body>
<nav class="nav">
  <a class='nav-item' href="{% url 'home' %}">Stan Depot</a>
  <a class='nav-item' href="{% url 'blog:list' %}">Blog</a>
  <a class='nav-item' href="{% url 'careers:list' %}">Careers</a>
  <a class='nav-item' href="{% url 'contact:home' %}">Contact</a>
</nav>

{% block content %}

{% endblock %}

<footer class="footer">
  <p class="footer-item">&copy; Mateusz <span class="footer-highlight">Krzemiński</span></p>
</footer>
{% block inline_javascript %}

{% endblock %}
</body>
</html>
