{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load static %}

{% block title %}
  Contact
{% endblock %}

{% block javascript %}
  <script
    src="https://maps.googleapis.com/maps/api/js?key={{ GOOGLE_API_KEY }}&callback=initMap&libraries=&v=weekly"
    async
  ></script>
{% endblock %}

{% block css %}
  <link rel="stylesheet" href="{% static 'css/contact/home.css' %}">
{% endblock %}

{% block content %}
  <div class="container-fluid">
    <div class="row">
      <div class="place-info col col-sm mt-md-3">
        <h2 class="street"></h2>
        <h3 class="city"></h3>
      </div>
    </div>
    <div class="row">
      <div id="map" class="col"></div>
      <div class="col-lg-4">
        <h2>For business enquiries use this form. 👇</h2>
        <form action="{% url 'contact:home' %}" method="post" enctype="multipart/form-data">
          {% csrf_token %}
          {{ form|crispy }}
          <button class="contact-btn" type="submit">Contact</button>
        </form>
      </div>
    </div>
  </div>
{% endblock %}

{% block inline_javascript %}
  <script src="{% static 'js/contact/index.js' %}"></script>
{% endblock %}
